.first-section {
  display: grid;
  justify-items: center;
  grid-template-rows: 10% 90%;
  align-items: center;
  height: fit-content;
  gap: 1rem;
}
.first-sec-row {
  grid-template-rows: 40% 60%;
  gap: 20px;
  justify-items: center;
}
.first-sec-1content {
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.first-sec-2content {
  min-height: 350px;
  display: grid;
  align-content: stretch;
  align-items: start;
  text-align: start;
  padding: 2rem;
}

.button-card-mobile {
  height: fit-content;
  background-color: unset;
  border: none;
  outline: unset;
  border-bottom: 1px solid #440d9b;
}
.button-card-mobile:hover {
  border-bottom: 2px solid #440d9b;
}
.button-holder-mobile {
  justify-content: center !important;
}
.card-item {
  position: relative;
  width: 147px;
  height: 208.6px;
  transition: 1s all;
  z-index: 0;
}

.card-item img {
  width: 100%;
  height: 100%;
}

.front-face {
  order: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* transition: 0.4s 0.4 all; */
}

.back-face {
  width: fit-content;
  order: 2;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(270deg);
}
.card-item:nth-child(1) {
  order: 0;
  rotate: -20deg;
}
.card-item:nth-child(2) {
  order: 2;
  translate: 0px -25px;
}
.card-item:nth-child(3) {
  order: 3;
  rotate: 20deg;
}

.card-clicked {
  scale: 1.2;
}
.card-clicked .front-face {
  transform: rotateY(90deg);
}
.card-clicked .back-face {
  transform: rotateY(360deg);
}

.card-clicked.card-item:nth-child(1) {
  translate: -10px -20px;
  z-index: 1;
}
.card-clicked.card-item:nth-child(2) {
  translate: 0px -50px;
  z-index: 1;
}
.card-clicked.card-item:nth-child(3) {
  translate: 10px -20px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .card-item {
    position: relative;
    width: calc(200px / 2) !important;
    height: calc(298px / 2) !important;
    transition: 1s all;
  }

  .first-section-desktop {
    display: none;
  }
}

@media screen and (min-width: 462px) {
  .first-sec-2content {
    min-width: 80vw;
    max-width: 80vw;
  }
}
