footer {
    border-top: 1px solid #440D9B;
    height: fit-content;
    display: grid;
    align-items: center;
    height: fit-content;
    gap: 24px;
    padding: 24px 8% !important;
    background-color: #290A5E;
  }

.infos{
  display: inline-flex;
  flex-direction: row;
  gap: 24px;
  align-self: flex-end;

}
.social-button{
  width: fit-content;
  background: transparent;
  border: none;
  text-decoration: none;color: #440D9B !important;
}
.social{
    width: 44px;
    height: 44px;
}  

.form>* {
  outline: none;
  background-color: unset;
  border: none;
  color: #e38c24;
  border-bottom: 1px solid #ffffff;
}
.form-input:focus-within{
  border-bottom: 2px solid #ffffff ;
}

.form-button{
  width: fit-content;
  justify-self: flex-end;
  border: 1px solid black;
  border-radius: 20px;
}


@media screen and (max-width: 768px) {
  .infos{
    margin-top: 24px; 
    order: 1;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form-holder{
    order:0;
    margin-bottom: 24px
  }
}